@import "mixins";
@import "headerFooter";
@import "about";
@import "projects";
@import "contact";

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6, legend {
    font-family: 'Andale Mono', monospace;
}


body {
    color: black;
    background-color: ivory;
}



